body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

.App {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  flex: 33%;
  height: 100%;
  border: 1px solid #000;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

.square:active {
  background-color: #64f4c4;
}
